@font-face {
  font-family: silkSkreen;
  src: url(slkscr.ttf);
}

#pong__container {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0 2%;
  background-color: black;
}

#pong__table {
  position: relative;
  height: 100%;
  width: 100%;
}

#pong__scoreboard {
  content: "";
  display: flex;
  justify-content: center;
  width: 100%;
  color: #fff;
}

#pong__scoreboard>* {
  flex-grow: 1;
  flex-basis: 0;
  padding: 0 4%;
  margin: 0 4%;

  font-size: 2rem;

  font-family: silkSkreen;
  font-smooth: never;
  -webkit-font-smoothing: none;
}

#pong__scoreboard> :first-child {
  text-align: right;
}

#pong__net {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -5%);

  height: 100%;
  width: 2.5vh;
  background: repeating-linear-gradient(rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0) 10vh,
      rgb(255, 255, 255) 10vh,
      rgb(255, 255, 255) 20vh);
}

/* #pong__scoreboard__left {} */

/* #pong__scoreboard__right {} */

#pong__ball {
  --y: 50%;
  --x: 50%;

  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  width: 8vh;
  height: 8vh;

  /* border-radius: 50%; */

  background-color: #ffffff;
}

.pong__paddle {
  position: absolute;
  width: 5vh;
  height: 25vh;
  background-color: #ffffff;
}

#pong__left {
  --y: 50%;

  top: var(--y);
  transform: translateY(-50%);
  left: 0;
}

#pong__right {
  --y: 50%;

  top: var(--y);
  transform: translateY(-50%);
  right: 0;
}

#pong_remove {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}