@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --cursor-height: 2ch;
}

@media (prefers-color-scheme: dark) {
  :root {
    --terminal-background: rgb(0, 0, 0);
    --terminal-color: #fff;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --terminal-background: rgb(177, 177, 177);
    --terminal-color: rgb(22, 22, 22);

  }
}

body, html {
  height: 100%;
}

body {
  background-color: aquamarine;
}

#terminal__container {
  display: flex;

  background-color: var(--terminal-background);
  position: relative;
  height: 100%;
  color: var(--terminal-color);
}

.terminal__input-container {
  position: relative;
  height: var(--cursor-height);
  display: flex;
  flex-wrap: wrap;
}

#terminal__input {
  height: 100%;
  width: fit-content;
  text-align: center;
}

.terminal__cursor {
  background-color: green;
  height: 100%;
  width: 1ch;
  opacity: .9;
  animation-name: cursor;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes cursor {
  0% {
    height: var(--cursor-height);
  }

  35% {
    margin: calc(var(--cursor-height) / 2) 0;
    height: 0ch;
  }

  65% {
    margin: calc(var(--cursor-height) / 2) 0;
    height: 0ch;
  }

  100% {
    height: var(--cursor-height);
  }
}