:root {
  --cursor-height: 2ch;
}

@media (prefers-color-scheme: dark) {
  :root {
    --terminal-background: rgb(0, 0, 0);
    --terminal-color: #fff;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --terminal-background: rgb(177, 177, 177);
    --terminal-color: rgb(22, 22, 22);

  }
}

#terminal__container {
  display: flex;
  flex-direction: column;
  padding-left: 1vw;
  padding-bottom: 1vw;

  background-color: var(--terminal-background);
  position: relative;
  height: 100vh;
  color: var(--terminal-color);
}

.terminal__input-container {
  position: relative;
  height: var(--cursor-height);
  display: flex;
  flex-wrap: wrap;
}

#terminal__input, #terminal__input::before {
  height: 100%;
  width: fit-content;
  text-align: center;
  white-space: pre-wrap;
}

#terminal__input::before {
  content: "> ";
  display: inline-block;
}

.terminal__cursor {
  background-color: green;
  height: 100%;
  width: 1ch;
  opacity: .9;
  animation-name: cursor;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

#terminal__screen {
  overflow: auto;
}

.focused_screen {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: blueviolet;
}

@keyframes cursor {
  0% {
    height: var(--cursor-height);
  }

  35% {
    margin: calc(var(--cursor-height) / 2) 0;
    height: 0ch;
  }

  65% {
    margin: calc(var(--cursor-height) / 2) 0;
    height: 0ch;
  }

  100% {
    height: var(--cursor-height);
  }
}